<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <title>Full Escabio | Admin</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ThemeZaa" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- favicon icon -->
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="/css/vendors.min.css" />
    <link rel="stylesheet" href="/css/icon.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/demos/conference/conference.css" />
  </head>
  <body data-mobile-nav-style="classic" class="bg-midnight-blue">
    <header>
      <nav
        class="navbar navbar-expand-lg header-transparent bg-transparent disable-fixed mt-2"
      >
        <div class="container-fluid">
          <div class="col-md-8">
            <a
              href="/admin/pedido-unico"
              class="fs-28 adminLinks"
              style="margin-right: 20px"
              >Pedido Unico</a
            >

            <a
              href="/admin/pedido-mayorista"
              class="fs-28 adminLinks"
              style="margin-right: 20px"
              >Pedido Mayorista</a
            >

            <a
              href="/admin/ventas-adicionales"
              class="fs-28 adminLinks text-base-color fw-600"
              >Ventas Adicionales</a
            >
          </div>
          <div class="col-auto col-lg-2 text-end xs-ps-0 xs-pe-0">
            <div class="header-icon">
              <form action="/logout?_method=DELETE" method="POST">
                <button
                  style="width: 170px;"
                  class="btn btn-medium btn-base-color btn-hover-animation btn-round-edge btn-box-shadow"
                  type="submit"
                >
                  <span>
                    <span class="btn-text">Log Out</span>
                    <span class="btn-icon"
                      ><i class="fa-solid fa-arrow-right"></i
                    ></span>
                  </span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="container adminContainer" style="max-width: 100% !important">
        <div class="row">
          <div class="col-md-4">
            <label for="" class="text-dark fw-600 fs-24">Metodo</label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="" data-toggle="buttons">
              <select class="form-select" name="" id="chooseImportMethod"  <%= chooseImportMethod ? 'disabled' : '' %> >
                <option value="SPUpload" id="SPUpload" <%= SPUpload ? 'selected' : '' %> >Dinamico</option>
                <option value="directUpload" id="directUpload" <%= directUpload ? 'selected' : '' %> >Importar Directo</option>
              </select>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div id="SPDinamicoElegirMetodo">
              <select class="form-select" name="" id="chooseSPMethod" <%= chooseSPMethod ? 'disabled' : '' %>>
                <option value="default" readonly>Seleccionar Opcion</option>
                <option value="botonSeleccionarImportar" id="botonSeleccionarImportar">Importar Excel</option>
                <option value="botonSeleccionarCarga" id="botonSeleccionarCarga">Carga Manual</option>
              </select>
            </div>
          </div>

          <div class="col-md-4 text-end d-flex justify-content-between" id="">
            <button
              class="w-65 btn btn-medium btn-green-color btn-hover-animation btn-round-edge btn-box-shadow"
              type="button"
              id="verPedido"
              data-toggle="modal"
              data-target="#verPedidoModal"
              <%= verPedidoButton ? '' :
                'disabled' %> />
              Ver Pedido <i class="bi bi-arrows-angle-expand text-white"></i>
            </button>

            <div
              class="modal fade"
              id="verPedidoModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="verPedidoModal"
              aria-hidden="true"
              data-target=".bd-example-modal-lg"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Ver Pedido
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      style="
                        background: none;
                        border: none;
                        font-size: 40px;
                        color: red;
                      "
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body text-start" id="infoPedido" style="height: 700px; overflow: scroll;">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>SKU</th>
                          <th>DESCRIPCIÓN</th>
                          <th>CANTIDAD</th>
                          <th>PRECIO</th>
                          <th>CLIENTE</th>
                          <th>S/C</th>
                          <th>DESCUENTO</th>
                        </tr>
                      </thead>
                      <tbody id="verDetallesPedido">
                        <% if (Array.isArray(data) && data.length > 0) { %>
                        <% data.forEach((item) => { %>
                          <tr>
                            <td><%= item.sku || '' %></td>
                            <td><%= item.descripcion || '' %></td>
                            <td><%= item.cantidad || '' %></td>
                            <td><%= item.precio || '' %></td>
                            <td class="client-cell"><%= item.cliente || '' %></td>
                            <td><%= item.sc || '' %></td>
                            <td><%= item.descuento || '' %></td>
                          </tr>
                        <% }); %>
                        <% } else { %>
                          <tr>
                            <td colspan="7">No hay datos disponibles.</td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </div>

            <button
              class="btn btn-medium btn-green-color btn-hover-animation btn-round-edge btn-box-shadow"
              type="button"
              id="finalizarPedido"
              style="width: 170px;"
              <%= verPedidoButton ? '' :
                'disabled' %>
            >
              Finalizar<i class="bi bi-send-fill text-white"></i>
            </button>
          </div>
        </div>

        <div class="row">
          <% if (error != "") { %>
            <div class="col-md-12 alert alert-danger" role="alert">
              <%= error  %>
            </div>
          <% } %>
        </div>

        <div id="spDinamicoSection">
          <div class="row mb-50px">
            
            <div class="col-md-4">
              <label for="" class="text-dark fw-600 fs-24">Fecha Desde</label>
              <input
                type="date"
                class="form-control"
                name="fechaDesde"
                <%= fechas ? 'disabled' : '' %>
              />
            </div>
            <div class="col-md-4">
              <label for="" class="text-dark fw-600 fs-24">Hasta</label>
              <input
                type="date"
                class="form-control"
                name="fechaHasta"
                <%= fechas ? 'disabled' : '' %>
              />
            </div>
            <div class="col-md-4">
              <label for="" class="text-dark fw-600 fs-24">Agrupacion</label>

              <select class="form-select" name="agrupacionVentasAdicionales" id="agrupacionVentasAdicionales" <%= selectAgrupacion ? 'disabled' : '' %>>
                <% agrupacion.forEach(i => { %>
                  <option value="<%= i.codigo %>"
                    <%= i.codigo === agrupacionSeleccionada ? 'selected' : '' %>><%= i.nombre %></option>
                <% }); %>
              </select>
            </div>
          </div>
          
          <hr />

          <div class="row" id="SPUploadExcelContainer">
            <div class="col-md-12 mt-30px mb-50px">
              <h6 class="text-dark fw-600 mb-5px">
                Subir Excel. <a href="">Ver Plantila</a>
              </h6>
              <form
                action="/admin/ventas-adicionales/upload"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="input-group">
                  <input
                    type="file"
                    class="form-control file-input"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                    name="file"
                    disabled
                  />
                  <button
                    class="btn btn-base-color btn-hover-animation btn-round-edge btn-box-shadow"
                    type="submit"
                    id="inputGroupFileAddon04"
                    style="width: 170px;"
                    disabled
                  >
                    Subir
                  </button>
                </div>

                <input type="hidden" name="agrupacionSeleccionada" id="agrupacionSeleccionada" />
              </form>
            </div>
          </div>
          <hr />
          <div class="row pt-30px pb-30px" id="SPManualContenedor">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="text-dark fw-600 mb-0">Carga Manual</h6>
                </div>
                <div class="col-md-6 text-end mb-20px">
                  <button class="btn btn-medium btn-green-color btn-hover-animation btn-round-edge btn-box-shadow" type="button" id="confirmarButton" disabled>
                    Confirmar <i class="bi bi-check-circle-fill text-white"></i>
                  </button>
                </div>
              </div>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>SKU</th>
                    <th>DESCRIPCIÓN</th>
                    <th>CANTIDAD</th>
                    <th>PRECIO</th>
                    <th>CLIENTE</th>
                    <th>S/C</th>
                    <th>DESCUENTO</th>
                  </tr>
                </thead>
                <tbody id="tabla-body">
                  <tr>
                    <td>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        placeholder="SKU"
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        placeholder="Descripción"
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="number"
                        class="form-control"
                        placeholder="Cantidad"
                        min="0"
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="number"
                        class="form-control"
                        placeholder="Precio"
                        min="0"
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        placeholder="Cliente"
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="text"
                        class="form-control"
                        placeholder="S/C"
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="number"
                        class="form-control"
                        placeholder="Descuento"
                        min="0"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="row">
                <div class="col-md-12 text-center">
                  <button id="agregar-fila" class="btn btn-primary" disabled>
                    Agregar Fila
                  </button>
                  <button id="eliminar-fila" class="btn btn-danger" disabled>
                    Eliminar Última Fila
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="importadorDirectoSection" class="hidden">
          <div class="row">
            <div class="col-md-12 mb-2">
              <h6 class="text-dark mb-5px fw-600">
                Subir Excel. <a href="">Ver Plantila</a>
              </h6>
              <form
                action="/admin/ventas-adicionales/direct-upload"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="input-group">
                  <input
                    type="file"
                    class="form-control file-input"
                    id="inputGroupFile04"
                    aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload"
                    name="file"
                  />
                  <button
                    class="btn btn-base-color btn-hover-animation btn-round-edge btn-box-shadow"
                    type="submit"
                    id="inputGroupFileAddon04"
                    style="width: 170px;"
                  >
                    Subir
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/vendors.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>

<script>
  //todo: SOLUCIONAR BUG: Importar Directo, se carga 2 veces al clickear finalizar

  sessionStorage.setItem("ventas-adicionales-data", JSON.stringify(null))
  let ventasAdicionalesStorage = JSON.parse(sessionStorage.getItem('ventas-adicionales-data'));

  document.addEventListener("DOMContentLoaded", (event) => {
    const verPedidoButton = <%= verPedidoButton %>;
    const finalizarPedidoButton = document.getElementById("finalizarPedido")
    if(verPedidoButton) {
      Swal.fire({
        position: "center",
        icon: "success",
        title: "Datos Cargados",
        showConfirmButton: false,
        timer: 2000
      });
      
      let dataObj = {
        data: <%- JSON.stringify(data) %>
      }

      sessionStorage.setItem("ventas-adicionales-data", JSON.stringify(dataObj));
      ventasAdicionalesStorage = JSON.parse(sessionStorage.getItem('ventas-adicionales-data'));

      finalizarPedidoButton.addEventListener("click", () => {
        console.log(ventasAdicionalesStorage)
      })
    }
  })
  
  document.addEventListener("DOMContentLoaded", (event) => {
    const fechaDesdeInput = document.querySelector('input[name="fechaDesde"]');
    const fechaHastaInput = document.querySelector('input[name="fechaHasta"]');

    fechaDesdeInput.addEventListener('change', () => {
      sessionStorage.setItem('fechaDesde', fechaDesdeInput.value);
    });

    fechaHastaInput.addEventListener('change', () => {
      sessionStorage.setItem('fechaHasta', fechaHastaInput.value);
    });

    const fechaDesde = sessionStorage.getItem('fechaDesde');
    const fechaHasta = sessionStorage.getItem('fechaHasta');

    if (fechaDesde) fechaDesdeInput.value = fechaDesde;
    if (fechaHasta) fechaHastaInput.value = fechaHasta;
  })
  
  document.addEventListener("DOMContentLoaded", (event) => {
    const spDinamicoSection = document.getElementById("spDinamicoSection");
    const importadorDirectoSection = document.getElementById(
      "importadorDirectoSection"
    );

    const SPDinamicoElegirMetodo = document.getElementById(
      "SPDinamicoElegirMetodo"
    );

    const selectElement = document.getElementById("chooseImportMethod");
    if(selectElement.value == "directUpload"){
      spDinamicoSection.style.display = "none";
      importadorDirectoSection.style.display = "block";
      SPDinamicoElegirMetodo.style.display = "none";
    }
    
    selectElement.addEventListener("change", function() {
      const selectedValue = selectElement.value;
      if (selectedValue === "SPUpload") {
        spDinamicoSection.style.display = "block";
        importadorDirectoSection.style.display = "none";
        SPDinamicoElegirMetodo.style.display = "block";
      } else if (selectedValue === "directUpload") {
        spDinamicoSection.style.display = "none";
        importadorDirectoSection.style.display = "block";
        SPDinamicoElegirMetodo.style.display = "none";
      } 
    });
  });

  document.addEventListener("DOMContentLoaded", (event) => {
    const uploadContainer = document.getElementById("SPUploadExcelContainer")
    const buttonUploadFile = document.getElementById("inputGroupFileAddon04");
    const uploadFile = document.getElementById("inputGroupFile04");
    const cargaManual = document.getElementById("tabla-body");
    const inputGroup = cargaManual.querySelectorAll("input");
    const agregarFila = document.getElementById("agregar-fila");
    const eliminarFila = document.getElementById("eliminar-fila");
    const selectElement = document.getElementById("chooseSPMethod");
    const confirmarButton = document.getElementById("confirmarButton")

    selectElement.addEventListener("change", function() {
      const selectedValue = selectElement.value;
      if (selectedValue === "botonSeleccionarImportar") {
        uploadFile.disabled = false;
        buttonUploadFile.disabled = false;
        
        uploadContainer.style = "background: rgba(158, 242, 85, 0.2); border: 2px solid #146C43; border-radius: 5px"
        SPManualContenedor.style = "background: transparent; border: 2px solid none;"
        
        inputGroup.forEach((input) => {
          input.disabled = true;
        });

        confirmarButton.disabled = true
        agregarFila.disabled = true;
        eliminarFila.disabled = true;
      } else if (selectedValue === "botonSeleccionarCarga") {
        uploadFile.disabled = true;
        buttonUploadFile.disabled = true;
        
        SPManualContenedor.style = "background: rgba(255, 248, 143, 0.3); border: 2px solid #FFC824; border-radius: 5px"
        uploadContainer.style = "background: transparent; border: 2px solid none;"
        
        inputGroup.forEach((input) => {
          input.disabled = false;
        });

        confirmarButton.disabled = false
        agregarFila.disabled = false;
        eliminarFila.disabled = false;
      } 
    });
  });

  document.addEventListener("DOMContentLoaded", (event) => {
    const tbody = document.getElementById('verDetallesPedido');
    const confirmarButton = document.getElementById("confirmarButton")
    const finalizarPedido = document.getElementById("finalizarPedido")

    confirmarButton.addEventListener("click", () => {
      const container = document.getElementById("tabla-body");
      const inputs = container.querySelectorAll("input")

      if (confirmarButton.textContent.trim().startsWith("Confirmar")) {
        confirmarButton.classList.remove('btn-green-color');
        confirmarButton.classList.add('btn-base-color');
        confirmarButton.innerHTML = 'Desconfirmar <i class="bi bi-x-lg text-white"></i>';
      } else {                        
        confirmarButton.classList.remove('btn-base-color');
        confirmarButton.classList.add('btn-green-color');
        confirmarButton.innerHTML = 'Confirmar <i class="bi bi-check-circle-fill text-white"></i>';
      }

      const groupedInputs = [];
      const propertyNames = ['sku', 'descripcion', 'cantidad', 'precio', 'cliente', 'sc', 'descuento'];

      for (let i = 0; i < inputs.length; i += 7) {
        const values = Array.from(inputs).slice(i, i + 7).map(input => input.value);
        const obj = {};
        propertyNames.forEach((propertyName, index) => {
            obj[propertyName] = values[index] || ''; 
        });

        groupedInputs.push(obj);
      }      
      ventasAdicionalesStorage = groupedInputs 

      tbody.innerHTML = '';

      if (ventasAdicionalesStorage && Array.isArray(ventasAdicionalesStorage)) {
        ventasAdicionalesStorage.forEach(item => {
          const row = document.createElement('tr');

          const cells = [
            item.sku || '',
            item.descripcion || '',
            item.cantidad || '',
            item.precio || '',
            item.cliente || '',
            item.sc || '',
            item.descuento || ''
          ];

          cells.forEach(cellData => {
            const cell = document.createElement('td');
            cell.textContent = cellData;
            row.appendChild(cell);
          });

          tbody.appendChild(row);
        });
      }

      inputs.forEach(input => {
        input.disabled = !input.disabled
        input.classList.toggle("input-disabled")
      })

      document.getElementById("finalizarPedido").disabled = !document.getElementById("finalizarPedido").disabled
      document.getElementById("agregar-fila").disabled = !document.getElementById("agregar-fila").disabled
      document.getElementById("eliminar-fila").disabled = !document.getElementById("eliminar-fila").disabled
      document.getElementById("verPedido").disabled = !document.getElementById("verPedido").disabled
    })

    finalizarPedido.addEventListener("click", () => {
      console.log(ventasAdicionalesStorage)
    })

    document
      .getElementById("agregar-fila")
      .addEventListener("click", function () {
        const tablaBody = document.getElementById("tabla-body");

        const nuevaFila = document.createElement("tr");

        nuevaFila.innerHTML = `
          <td><input type="text" class="form-control" placeholder="SKU"></td>
          <td><input type="text" class="form-control" placeholder="Descripción"></td>
          <td><input type="number" min="0" class="form-control" placeholder="Cantidad"></td>
          <td><input type="number" min="0" class="form-control" placeholder="Precio"></td>
          <td><input type="text" class="form-control" placeholder="Cliente"></td>
          <td><input type="text" class="form-control" placeholder="S/C"></td>
          <td><input type="number" min="0" class="form-control" placeholder="Descuento"></td>
      `;

        tablaBody.appendChild(nuevaFila);
      });

    document
      .getElementById("eliminar-fila")
      .addEventListener("click", function () {
        const tablaBody = document.getElementById("tabla-body");
        const filas = tablaBody.querySelectorAll("tr");
        if (filas.length > 1) {
          tablaBody.removeChild(filas[filas.length - 1]);
        }
      });
  });

  document.addEventListener("DOMContentLoaded", function() {
    const agrupacion = document.getElementById("agrupacionVentasAdicionales")
    const clientCell = document.querySelectorAll(".client-cell")
    const verPedido = document.getElementById("verPedido")
    verPedido.addEventListener("click", () => {
      clientCell.forEach(cell => {
        if(cell.textContent == ""){
          cell.textContent = agrupacion.value
        }
      })
    })

    const selectAgrupacion = document.getElementById('agrupacionVentasAdicionales');
    const inputHidden = document.getElementById('agrupacionSeleccionada');

    selectAgrupacion.addEventListener('change', function() {
      inputHidden.value = this.value; 
    });

    document.addEventListener('DOMContentLoaded', function() {
      inputHidden.value = selectAgrupacion.value; 
    });
  });
</script>

<style>
  .hidden {
    display: none;
  }
  .btn-green-color {
    background-color: #157347;
    color: white;
  }
  .btn-green-color:hover {
    background-color: #157347;
    color: white;
  }
  .input-disabled {
    font-weight: bold;
    border: 1px solid #157347 !important;
    cursor: not-allowed;
  } 
</style>
